.projects-div {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.categories-div {
  margin-left: 70px;
  width: 372px;
  background-color: rgb(19, 18, 18);
}
.workspace-div {
  flex: 1;
  background-color: rgb(26, 27, 27);
}
.line {
  width: 1px;

}
