.upcoming-title-div,
.inprogress-title-div,
.completed-title-div {
  font-size: 18px;
  font-weight: 550;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  padding: 12px;
}
.upcoming-title-div p,
.inprogress-title-div p,
.completed-title-div p {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: arial;
 
}

.body-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.inprogress-task,
.upcoming-task,
.completed-task {
  flex: 1;
  /* background-color: aqua; */
  margin: 24px;
  border-radius: 4px;
  border: solid;
  border-width: 1px;
  color: rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
  height: 624px;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: center;
}

.upcoming-title-div i,
.inprogress-title-div i,
.completed-title-div i {
  font-size: 12px;
  margin-right: 14px;
}
.body-div .fa-plus {
  margin-right: -48px;
}
